<template>
  <q-page>
    <q-toolbar class="text-white shadow-2">
      <q-btn
        :flat="!mapView"
        round
        dense
        color="primary"
        icon="map"
        @click="mapView = true"
      />

      <q-btn
        :flat="mapView"
        round
        dense
        color="primary"
        icon="view_list"
        @click="mapView = false"
        style="margin-left: 5px;"
      />
    </q-toolbar>

    <floor-plan
    v-if="mapView"
    :rooms="rooms"
    :mapView="mapView"
    />

    <list
    v-if="!mapView"
    :rooms="rooms"
    :mapView="mapView"
    />
  </q-page>
</template>

<script>
import FloorPlan from 'components/Floorplan'
import List from 'components/List'
import RoomService from '../services/RoomService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'Index',
  props: ['id'],
  components: {
    FloorPlan, List
  },
  created () {
    this.RoomService = new RoomService()
    this.loadRooms(this.id)
  },
  data () {
    return {
      mapView: true,
      rooms: []
    }
  },
  methods: {
    async loadRooms (id) {
      if (id == null) {
        id = 1
      }
      try {
        this.rooms = await this.RoomService.getRoomsByDepartment(id)
        this.checkRooms()
      } catch (error) {
        ErrorService.showAlert('Loading rooms failed')
      }
    },
    async checkRooms () {
      for (const key in this.rooms) {
        if (this.rooms.hasOwnProperty(key)) {
          const element = this.rooms[key]

          if (element.patientId === 0) {
            element.style = { backgroundColor: 'white' }
          }

          if (element.patientId !== 0) {
            element.style = { backgroundColor: 'green' }
          }

          if (element.needsHelp === true) {
            element.style = { backgroundColor: 'red' }
          }
        }
      }
    }
  },
  watch: {
    id: {
      handler () {
        this.loadRooms(this.id)
      }
    }
  }
}
</script>
