<template>
<div class='kaartdiv'>
  <q-card class='kaart'>
    <q-separator />

    <q-item
    >
      <q-item class='center'>
        <q-item-section>
          <q-avatar class='avatar'>
            <img :src='img' class='foto' />
          </q-avatar>
          <q-item-label class='text-h6' id='titel'>{{ patient.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-item>

    <q-separator />

    <q-item>
      <q-item class='tekst'>
        <q-item-section>
          <q-item-label class='info'><b>Department:</b> {{ department.name }}</q-item-label>
        </q-item-section>

        <q-item-section>
          <q-item-label class='info'><b>Room number:</b> {{ room.room_number }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-item>

    <q-separator />

    <q-item class='tekst'>
        <q-item-section>
          <q-item-label class='datum'><b>Date of reception:</b> {{ patient.date_of_reception }}</q-item-label>
          <q-item-label class='datum'><b>Reason of reception:</b> {{ patient.reason_of_reception }}</q-item-label>
        </q-item-section>
    </q-item>

    <q-separator />

    <q-item class='tekst'>
        <q-item-section>
          <q-item-label class='datum'><b>Doctor:</b> {{ patient.doctor }}</q-item-label>
        </q-item-section>
    </q-item>

    <q-separator />

    <q-item class='tekst'>
        <q-item-section>
          <q-item-label class='datum'>
            <b>Vegetarian:</b><q-toggle color='green' v-model='patient.vegetarian' @input='patientUpdated(patient)' />
          </q-item-label>
        </q-item-section>
    </q-item>

    <q-separator />

    <q-item>
      <q-item-section>
        <q-item-label>
          <b>Remarks:</b>
        </q-item-label>
        <q-input
          v-model='patient.remarks'
          bg-color='white'
          standout='bg-primary text-white'
          @input='patientUpdated(patient)'
        />
        </q-item-section>
    </q-item>

    <q-separator />

    <q-list>
      <q-item>
      <q-item-label class='text-h6'>Actions</q-item-label>
      </q-item>

      <q-item>
        <q-item-label>Show completed actions
          <q-toggle
          v-model='showDone'
          color='green'
          icon='done'
          />
        </q-item-label>
      </q-item>

      <q-item>
        <q-item-section class='input'>
          <q-item-label class='text-h6'>Type</q-item-label>
        </q-item-section>
        <q-item-section class='input'>
          <q-item-label class='text-h6'>Description</q-item-label>
        </q-item-section>
        <q-item-section class='input'>
          <q-item-label class='text-h6'>Date</q-item-label>
        </q-item-section>
        <q-item-section class='input' style='max-width: 63px'>
          <q-item-label class='text-h6'>Done</q-item-label>
        </q-item-section>

        <q-item-section class='input' side>
          <q-btn class='input'
            round
            dense
            flat
            icon='add'
            color='positive'
            size='14px'
            @click='onAddAction'
          />
        </q-item-section>
      </q-item>

      <q-item
        v-for='action in filteredActionsWithEnabled'
        :key='action.id'
      >
        <q-item-section class='input' v-if='action.isEnabled'>
          <q-input class='input'
          v-model='action.type'
          @input='updateAction(action)'
          />
        </q-item-section>

        <q-item-section class='input' v-else>
          <q-input class='input' disable
          v-model='action.type'
          />
        </q-item-section>

        <q-item-section class='input' v-if='action.isEnabled'>
          <q-input class='input'
          v-model='action.description'
          @input='updateAction(action)'
          />
        </q-item-section>

        <q-item-section class='input' v-else>
          <q-input class='input' disable
          v-model='action.description'
          />
        </q-item-section>

        <q-item-section class='input' v-if='action.isEnabled'>
          <q-input class='input'
          v-model='action.date'
          @input='updateAction(action)'
          />
        </q-item-section>

        <q-item-section class='input' v-else>
          <q-input class='input' disable
          v-model='action.date'
          />
        </q-item-section>

        <q-item-section class='input' side>
          <q-toggle class='input'
          v-model='action.done'
          @input='updateAction(action)'
          />
        </q-item-section>

        <q-item-section class='input' side v-if='action.isEnabled'>
          <q-btn class='input'
            round
            dense
            flat icon='delete'
            color='negative'
            size='14px'
            @click='deleteAction(action)'
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>

  <add-action-dialog
    :fieldData='addDialogData'
    :show-dialog='showAddDialog'
    @add-confirm='onAddDialogConfirm'
    @add-cancel='onAddDialogCancel'
  />
</div>
</template>

<style scope>
  .kaartdiv {
    margin-top: 20px;
  }

  .kaart {
    width: 700px;
    margin: auto;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }

  .foto {
    display: block;
    object-fit: cover;
  }

  .center {
    margin: auto;
  }

  #titel {
    text-align: center;
    margin-top: 10px;
  }

  .info {
    width: 200px;
    text-align: center;
  }

  .datum {
    text-align: center;
    margin: 7px;
  }

  .tekst {
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    max-width: 150px;
  }
</style>

<script>
import PatientService from '../services/PatientService'
import ActionService from '../services/ActionsService.js'
import RoomService from '../services/RoomService.js'
import DepartmentService from '../services/DepartmentService.js'
import ErrorService from '../services/ErrorService'
import AddActionDialog from '../components/AddActionDialog'

export default {
  name: 'PatientDetail',
  props: ['id'],
  created () {
    this.PatientService = new PatientService()
    this.ActionService = new ActionService()
    this.RoomService = new RoomService()
    this.DepartmentService = new DepartmentService()
    this.loadPatient(this.id)
  },
  components: {
    AddActionDialog
  },
  data () {
    return {
      patient: '',
      img: '',
      actions: [],
      room: '',
      department: '',
      showDone: true, // default false
      showAddDialog: false,
      addDialogData: {
        description: '',
        type: null,
        options: ['Food', 'Sanitary', 'Turnaround'],
        date: null,
        time: null,
        done: false
      }
    }
  },
  methods: {
    async loadPatient (id) {
      try {
        var result = await this.PatientService.getPatient(id)
        this.patient = result[0]
        this.img = 'statics/' + this.patient.imgName
        this.loadActions()
        this.loadRoom()
      } catch (error) {
        ErrorService.showAlert('Loading patient failed')
      }
    },
    async loadActions () {
      try {
        var ids = ''
        for (const key in this.patient.actions) {
          if (this.patient.actions.hasOwnProperty(key)) {
            const element = this.patient.actions[key]
            ids += 'id='
            ids += element
            if (
              element !== this.patient.actions[this.patient.actions.length - 1]
            ) {
              ids += '&'
            }
          }
        }
        this.actions = await this.ActionService.getActionsByIds(ids)
        this.actions.sort((a, b) => a.id - b.id)
      } catch (error) {
        ErrorService.showAlert('Loading patients activities failed')
      }
    },
    async loadRoom () {
      try {
        var rooms = await this.RoomService.getRoomByPatient(this.patient.id)
        this.room = rooms[0]
        this.loadDepartment(this.room.department)
      } catch (error) {
        ErrorService.showAlert('Loading room failed')
      }
    },
    async loadDepartment (department) {
      try {
        var result = await this.DepartmentService.getById(department)
        this.department = result[0]
      } catch (error) {
        ErrorService.showAlert('Loading department failed')
      }
    },
    async patientUpdated (patient) {
      try {
        await this.PatientService.update(patient)
      } catch (error) {
        ErrorService.showAlert('Updating patient failed')
      }
    },
    async deleteAction (action) {
      try {
        for (const key in this.patient.actions) {
          if (this.patient.actions.hasOwnProperty(key)) {
            const element = this.patient.actions[key]
            if (element === action) {
              this.patient.actions.splice(key, 1)
            }
          }
        }
        await this.ActionService.delete(action)
        this.actions.splice(this.actions.indexOf(action), 1)
        this.patientUpdated(this.patient)
      } catch (error) {
        ErrorService.showAlert('Failed to delete action')
      }
    },
    async updateAction (action) {
      try {
        await this.ActionService.update(action)
      } catch (error) {
        ErrorService.showAlert('Updating action failed')
      }
    },
    onAddAction () {
      this.showAddDialog = true
    },
    async onAddDialogConfirm () {
      this.showAddDialog = false
      var alleactions
      try {
        alleactions = await this.ActionService.get()
        alleactions.sort((a, b) => a.id - b.id)
      } catch (error) {
        ErrorService.showAlert('Adding action failed')
      }
      const newAction = {
        id: alleactions[alleactions.length - 1].id + 1,
        type: this.addDialogData.type,
        description: this.addDialogData.description,
        date: this.addDialogData.date + this.addDialogData.time,
        done: this.addDialogData.done
      }
      this.patient.actions.push(newAction.id)
      this.patientUpdated(this.patient)

      try {
        const savedAction = await this.ActionService.add(newAction)
        this.actions.push(savedAction)
      } catch (error) {
        ErrorService.showAlert('Adding action failed')
      }
    },
    onAddDialogCancel () {
      this.showAddDialog = false
    }
  },
  computed: {
    filteredActions () {
      return this.actions.filter(action => this.showDone || !action.done)
    },
    filteredActionsWithEnabled () {
      for (const key in this.filteredActions) {
        if (this.filteredActions.hasOwnProperty(key)) {
          const element = this.filteredActions[key]
          if (element.type === 'Sanitary' || element.type === 'Food' || element.type === 'Turnaround') {
            element.isEnabled = true
          }
        }
      }
      return this.filteredActions
    }
  }
}
</script>
