<template>
    <q-list>

    <div class="row no-wrap q-pa-md" id="menu">
      <div class="text-h6">Settings</div>
    </div>
    <q-separator />

    <q-item>
      <q-toggle
        v-model="roomNumberToggle.value"
        label="Show room number"
        @input="updateSetting(roomNumberToggle)"
      />

      <q-toggle
      v-model="facilitiesToggle.value"
      label="Show facilities"
      class="toggles"
      @input="updateSetting(facilitiesToggle)"
      />

      <q-toggle
      v-model="patientToggle.value"
      label="Show patient"
      class="toggles"
      @input="updateSetting(patientToggle)"
      />

      <q-toggle
      v-model="monitorToggle.value"
      label="Show monitoring data"
      class="toggles"
      @input="updateSetting(monitorToggle)"
      />

      <q-toggle
      v-model="actionToggle.value"
      label="Show upcoming action"
      class="toggles"
      @input="updateSetting(actionToggle)"
      />

      <q-toggle v-model="alarmToggle.value" label="Play alarm" @input="updateSetting(alarmToggle)" />

    </q-item>

    <q-separator />

    <q-item>
    <div class="text-h6">Heart rate</div>
    </q-item>

    <q-item>
      <q-input v-model="heartRateMin.value" label="Minimum" @input="updateSetting(heartRateMin)" class="inputs" />
      <q-input v-model="heartRateMax.value" label="Maximum" @input="updateSetting(heartRateMax)" />
    </q-item>

    <q-item>
      <div class="text-h6">Blood pressure</div>
    </q-item>

   <q-item>
      <q-input v-model="bloodPressureMin.value" label="Minimum" @input="updateSetting(bloodPressureMin)" class="inputs" />
      <q-input v-model="bloodPressureMax.value" label="Maximum" @input="updateSetting(bloodPressureMax)" />
   </q-item>

    <q-separator />

    <q-item>
      <div class="text-h6">Action time treshold</div>
    </q-item>

    <q-item>
      <q-input v-model="actionTime.value" label="Time in minutes" @input="updateSetting(actionTime)" />
    </q-item>
    </q-list>
</template>

<style scope>
  .toggles {
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
  }

  .inputs {
    margin-right: 20px;
  }
</style>

<script>
import SettingService from '../services/SettingService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'Settings',

  data () {
    return {
      roomNumberToggle: '',
      facilitiesToggle: '',
      patientToggle: '',
      monitorToggle: '',
      actionToggle: '',
      heartRateMin: '',
      heartRateMax: '',
      bloodPressureMin: '',
      bloodPressureMax: '',
      alarmToggle: '',
      actionTime: ''
    }
  },
  created () {
    this.SettingService = new SettingService()
    this.loadSettings()
  },
  methods: {
    async loadSettings (names) {
      try {
        var value = await this.SettingService.getSettingByName('roomNumberToggle')
        this.roomNumberToggle = value[0]

        value = await this.SettingService.getSettingByName('facilitiesToggle')
        this.facilitiesToggle = value[0]

        value = await this.SettingService.getSettingByName('patientToggle')
        this.patientToggle = value[0]

        value = await this.SettingService.getSettingByName('monitorToggle')
        this.monitorToggle = value[0]

        value = await this.SettingService.getSettingByName('actionToggle')
        this.actionToggle = value[0]

        value = await this.SettingService.getSettingByName('heartRateMin')
        this.heartRateMin = value[0]

        value = await this.SettingService.getSettingByName('heartRateMax')
        this.heartRateMax = value[0]

        value = await this.SettingService.getSettingByName('bloodPressureMin')
        this.bloodPressureMin = value[0]

        value = await this.SettingService.getSettingByName('bloodPressureMax')
        this.bloodPressureMax = value[0]

        value = await this.SettingService.getSettingByName('alarmToggle')
        this.alarmToggle = value[0]

        value = await this.SettingService.getSettingByName('actionTime')
        this.actionTime = value[0]
      } catch (error) {
        ErrorService.showAlert('Loading settings failed')
      }
    },
    async updateSetting (setting) {
      try {
        await this.SettingService.update(setting)
      } catch (error) {
        ErrorService.showAlert('Updating setting failed')
      }
    }
  }
}
</script>
