<template>
     <q-dialog :value="showDialog">
      <q-card style="min-width: 300px">
        <q-card-section>
          <div class="text-h6">Add Action</div>
        </q-card-section>

        <q-card-section>
          <q-select
            v-model="fieldData.type"
            label="Type"
            :options="fieldData.options"
            :rules="[val => val && val.length > 0 || 'Type is required']"
            autofocus
            clearable
            dense
          />
        </q-card-section>

        <q-card-section>
          <q-input
            ref="textField"
            v-model="fieldData.description"
            label="Description"
          />
        </q-card-section>

        <q-card-section>
        <q-item-label class="text-h6">Date</q-item-label>
        <br/>
          <q-date
            v-model="fieldData.date"
            mask="YYYY-MM-DDT"
            label="Date"
          />
        </q-card-section>

        <q-card-section>
        <q-item-label class="text-h6">Time</q-item-label>
        <br/>
          <q-time
            v-model="fieldData.time"
            label="Time"
          />
        </q-card-section>

        <q-card-section>
        <q-item-label class="text-h6">Done <q-checkbox
        v-model="fieldData.done"
        />
        </q-item-label>
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Cancel"
            @click="$emit('add-cancel')"
          />
          <q-btn
            flat
            label="Add Action"
            @click="$emit('add-confirm')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<style scoped>
</style>

<script>

export default {
  name: 'AddActionDialog',
  props: {
    fieldData: {
      type: Object,
      required: true
    },
    showDialog: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>
