<template>
<q-card class='kaart'
:style='room.style'
>
    <q-item class='text-subtitle2'>
      <q-item-section class='kamer' :style='$parent.roomShow'>
        Room {{room.room_number}}
      </q-item-section>

      <q-item-section side :style='$parent.iconStyle'>
        <q-item class='topiconen'>
          <q-item-section class='topiconen'>
            <q-icon name='invert_colors' />
          </q-item-section>
          <q-item-section class='topiconen'>
            <q-item-label>{{ patient.blood_pressure }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class='topiconen'>
         <q-item-section class='topiconen'>
            <q-icon name='favorite' />
          </q-item-section>
          <q-item-section class='topiconen'>
            <q-item-label>{{ patient.heartrate }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-item-section>
    </q-item>

    <q-item clickable :style='$parent.patientShow'
      @click="$emit('patient-select', patient)">
      <q-item-section avatar>
        <q-avatar><img :src='img' class='foto'></q-avatar>
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ patient.name }}</q-item-label>
        <q-item-label caption :style='$parent.actionStyle'>{{soonestAction.type}} at {{this.$parent.dateString}}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item class='iconen' :style='$parent.iconShow'>
      <q-icon
      v-for='icon in room.icons'
      :key=icon
      :name='icon'
      class='icoon'
       />
    </q-item>
</q-card>
</template>

<style scoped>
  .kaart {
    position: absolute;
    height: 100%;
    width: 270px;
  }
  .icoon {
    font-size: 40px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .iconen {
    display: block;
    text-align: center;
  }

  .kamer {
    max-width: 150px;
  }

  .topiconen {
    min-width: 20px;
    max-width: 25px;
    color: black;
  }

  .foto {
    display: block;
    object-fit: cover;
  }
</style>

<script>
export default {
  name: 'FloorplanCard',
  props: {
    room: null,
    patient: null,
    img: String,
    soonestAction: null
  }
}
</script>
