<template>
  <div class='mapContainer'>
    <img id='plattegrond'
      src='statics/plattegrond.png'
    />
    <room
    v-for='room in rooms'
    :key='room.id'
    :room='room'
    :mapView='mapView'
    />
  </div>
</template>

<style scoped>
  #plattegrond {
    width: 80%;
  }

  .mapContainer {
    margin-top: 5px;
    position: relative;
    overflow: auto;
  }
</style>

<script>
import Room from './Room'

export default {
  name: 'RoomMap',
  components: {
    Room
  },
  props: {
    rooms: {
      type: Array,
      required: true
    },
    mapView: Boolean
  }
}
</script>
