<template>
  <q-card :style='room.style'>
    <q-item class='titel'>
      <q-item-label class='text-h6'>{{room.room_number}} </q-item-label>
    </q-item>

    <q-separator />

    <q-item clickable
      @click="$emit('patient-select', patient)"
    >
      <q-item>
        <q-item-section avatar>
          <q-avatar class='avatar'>
            <img :src='img' class='foto' />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ patient.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-item>

    <q-separator />

    <q-item class='tekst'>
      <q-item-section>
        <q-item-label class='info'><b>Blood pressure:</b> {{ patient.blood_pressure }}</q-item-label>
      </q-item-section>

      <q-item-section>
        <q-item-label class='info'><b>Heart rate:</b> {{ patient.heartrate }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-item class='tekst'>
      <q-item-section>
        <q-item-label class='actie'><b>Next action:</b> {{soonestAction.type}} at {{soonestAction.date.toLocaleTimeString()}}</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-item class='iconen'>
      <q-icon v-for='icon in room.icons'
      :key='icon'
      :name='icon'
      class='icoon' />
    </q-item>
  </q-card>
</template>

<style scoped>
  .avatar {
    width: 75px;
    height: 75px;
  }

  .foto {
    display: block;
    object-fit: cover;
  }

  .titel {
    display: block;
    text-align: center;
  }

  .info {
    width: 140px;
    text-align: center;
  }
  .tekst {
    margin-left: auto;
    margin-right: auto;
    padding:0
  }
  .actie {
    text-align: center;
  }

  .icoon {
    font-size: 40px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .iconen {
    display: block;
    text-align: center;
    padding-top: 22px;
  }
</style>

<script>

export default {
  name: 'ListCard',
  props: {
    room: null,
    patient: null,
    img: String,
    soonestAction: null
  }
}
</script>
