<template>
<div id='kaarten'>
    <room class='kaart'
    v-for='room in rooms'
    :key='room.id'
    :room='room'
    :mapView='mapView'
    />
  </div>
</template>

<style scoped>
.kaart {
  width: 300px;
  height: 375px;
  margin: 25px;
}

#kaarten {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 540px) {
  #kaarten {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    }
}
</style>

<script>
import Room from './Room'

export default {
  name: 'RoomList',
  components: {
    Room
  },
  props: {
    rooms: {
      type: Array,
      required: true
    },
    mapView: Boolean
  }
}
</script>
