<template>
<div>
    <div v-if='!mapView'>
    <list-card
    v-bind:room='room'
    @patient-select='onPatientSelected'
    :patient='patient'
    :img='img'
    :soonestAction='soonestAction'
    :dateString='dateString'
    />
    </div>

    <div v-else>
    <floorplan-card class='room'
    v-bind:room='room'
    @patient-select='onPatientSelected'
    :patient='patient'
    :img='img'
    :soonestAction='soonestAction'
    :style='getRoomPosition(room)'
    />
    </div>

    <audio loop autoplay v-if='alarm'>
      <source src='../statics/alarm.wav' type='audio/wav' />
    </audio>
</div>

</template>

<style>
@keyframes color {
  50% {
    background-color: darkred;
  }
}
</style>

<script>
import ListCard from './ListCard'
import FloorplanCard from './FloorplanCard'
import PatientService from '../services/PatientService.js'
import ActionService from '../services/ActionsService.js'
import SettingService from '../services/SettingService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'Room',
  components: {
    ListCard, FloorplanCard
  },
  created () {
    this.patientService = new PatientService()
    this.actionsService = new ActionService()
    this.settingService = new SettingService()
    this.checkSettings()
    this.updateData()
  },
  props: {
    room: Object,
    mapView: Boolean
  },
  data () {
    return {
      patient: '',
      img: '',
      actions: [],
      soonestAction: '',
      alarm: false,
      roomShow: '',
      iconShow: '',
      patientShow: '',
      iconStyle: '',
      actionStyle: '',
      minHeartRate: '',
      maxHeartRate: '',
      minBloodPressure: '',
      maxBloodPressure: '',
      alarmOn: '',
      actionTime: '',
      dateString: ''
    }
  },
  methods: {
    async checkSettings () {
      var hidden = 'visibility: hidden'

      var result = await this.settingService.getSettingByName('roomNumberToggle')
      if (result[0].value === false) {
        this.roomShow = hidden
      }

      result = await this.settingService.getSettingByName('facilitiesToggle')
      if (result[0].value === false) {
        this.iconShow = hidden
      }

      result = await this.settingService.getSettingByName('patientToggle')
      if (result[0].value === false) {
        this.patientShow = hidden
      }

      result = await this.settingService.getSettingByName('monitorToggle')
      if (result[0].value === false) {
        this.iconStyle = hidden
      }

      result = await this.settingService.getSettingByName('actionToggle')
      if (result[0].value === false) {
        this.actionStyle = hidden
      }

      result = await this.settingService.getSettingByName('heartRateMin')
      this.minHeartRate = result[0].value

      result = await this.settingService.getSettingByName('heartRateMax')
      this.maxHeartRate = result[0].value

      result = await this.settingService.getSettingByName('bloodPressureMin')
      this.minBloodPressure = result[0].value

      result = await this.settingService.getSettingByName('bloodPressureMax')
      this.maxBloodPressure = result[0].value

      result = await this.settingService.getSettingByName('alarmToggle')
      this.alarmOn = result[0].value

      result = await this.settingService.getSettingByName('actionTime')
      this.actionTime = result[0].value

      this.loadPatient()
    },
    async loadPatient () {
      try {
        if (this.room.patientId != null) {
          var result = await this.patientService.getPatient(this.room.patientId)
          this.patient = result[0]
          this.img = 'statics/' + this.patient.imgName
          this.loadActions()
        }
      } catch (error) {
        ErrorService.showAlert('Loading patient failed')
      }
    },
    async loadActions () {
      try {
        var ids = ''
        for (const key in this.patient.actions) {
          if (this.patient.actions.hasOwnProperty(key)) {
            const element = this.patient.actions[key]
            ids += 'id='
            ids += element
            if (
              element !== this.patient.actions[this.patient.actions.length - 1]
            ) {
              ids += '&'
            }
          }
        }
        this.actions = await this.actionsService.getActionsByIds(ids)
        this.getNearestActions()
      } catch (error) {
        ErrorService.showAlert('Loading patients activities failed')
      }
    },
    async getNearestActions () {
      for (const key in this.actions) {
        if (this.actions.hasOwnProperty(key)) {
          const element = this.actions[key]
          element.date = new Date(element.date)
        }
      }
      var sort = this.actions.sort((a, b) => a.date - b.date)
      this.soonestAction = sort[0]
      this.dateString = this.soonestAction.date.toLocaleTimeString()
      this.checkColors()
    },
    async checkColors () {
      const currentDate = new Date()
      const today = (currentDate.getHours() * 60) + currentDate.getMinutes()
      const time = (this.soonestAction.date.getHours() * 60) + this.soonestAction.date.getMinutes()

      if ((time - today) <= this.actionTime && currentDate.getDate() === this.soonestAction.date.getDate() && this.room.needsHelp !== true) {
        this.room.style = { backgroundColor: 'rgb(255, 207, 158)' }
      }

      currentDate.setHours(0, 0, 0, 0)

      if (this.soonestAction.date < currentDate && this.room.needsHelp !== true) {
        this.room.style = { backgroundColor: 'darkorange' }
      }

      if (this.patient.heartrate !== 0 && this.patient.blood_pressure !== 0) {
        if (this.patient.heartrate < this.minHeartRate || this.patient.heartrate > this.maxHeartRate ||
            this.patient.blood_pressure < this.minBloodPressure || this.patient.blood_pressure > this.maxBloodPressure) {
          this.room.style = {
            backgroundColor: 'red',
            animationName: 'color',
            animationDuration: '1s',
            animationIterationCount: 'infinite'
          }
          if (this.alarmOn) {
            this.alarm = true
          }
        }
      }
    },
    getRoomPosition (room) {
      return {
        left: room.x + 'px',
        top: room.y + 'px',
        height: room.height + 'px',
        width: room.width + 'px'
      }
    },
    onPatientSelected (patient) {
      this.$router.push({ name: 'patientDetail', params: { id: patient.id } })
    },
    updateData () {
      setInterval(() => {
        this.loadPatient()
      }, 5000)
    }
  }
}
</script>
