<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Hospitaal platform
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Departments</q-item-label>
        <q-item clickable @click="onDepartmentSelect(department)"
          v-for="department in departments"
          :key=department.id
        >
          <q-item-section avatar>
            <q-icon :name="department.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ department.name }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item clickable @click="onSettingClick()">
          <q-item-section avatar>
            <q-icon name="settings_applications" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style scoped>
</style>

<script>
import DepartmentService from '../services/DepartmentService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      departments: {
        type: Array,
        required: true
      }
    }
  },
  created () {
    this.departmentService = new DepartmentService()
    this.loadDepartments()
  },
  methods: {
    async loadDepartments () {
      try {
        this.departments = await this.departmentService.get()
      } catch (error) {
        ErrorService.showAlert('Loading departments failed')
      }
    },
    onDepartmentSelect (department) {
      this.$router.push({ name: 'Index', params: { id: department.id } })
    },
    onSettingClick () {
      this.$router.push({ name: 'Settings' })
    }
  }
}
</script>
